.cover__background{
    max-width: 100%;
    min-height: 740px;
    background-color: #2A2C2F; 
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    opacity: 0.7;
    z-index: 1;
    grid-area: 1/1/2/2;
    background-position: center;
}
@media screen and (max-width:1024px) {
    .cover__background{
        min-height: 640px;
        margin-left: -48px;
        margin-right: -48px;
        max-width: 100vw;
        
    }   
}
@media screen and (max-width:768px) {
    .cover__background{
        min-height: 480px;
        margin-left: -24px;
        margin-right: -24px;
         
    }   
}
@media screen and (max-width:600px) {
    .cover__background{
        min-height: 340px;
    }   
}
@media screen and (max-width:450px) {
    .cover__background{
        min-height: 255px;
    }   
}
@media screen and (max-width:320px) {
    .cover__background{
        min-height: 200px;
        margin-left: -16px;
        margin-right: -16px;
    }   
}
