.intro__title{
    width: 100%;
    font-size: 3.375em;
    font-weight: 900;
    line-height: 1.07;
    margin: 0;
}
@media screen and (max-width:320px) {
    .intro__title{
        font-size: 2em;
        line-height: 1.09;
    }   
}